@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, button, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

* {
  transition: color 0.15s, background-color 0.3s;
}

:root {
  --main-text: #000000;
  --alt-text: #ffffff;
  --main-background: #ffffff;
  --alt-background: #000000;
}

.nav .nav-inside .logo {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: var(--main-background);
}

.nav {
  background-color: var(--main-background);
  width: 100%;
  min-height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav .nav-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav .nav-inside .menu-button {
  background-color: transparent;
}
.nav .nav-inside .menu {
  display: none;
  margin-top: 2rem;
  background-color: var(--alt-background);
  height: 56px;
  border-radius: 80px;
}
.nav .nav-inside .menu .element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  color: #C4C4C4;
  padding: 0 16px;
  border-radius: 48px;
  margin: 4px 16px 4px 4px;
}
.nav .nav-inside .menu .last {
  margin-right: 4px;
}
.nav .nav-inside .menu .selected {
  background-color: var(--alt-text);
  color: #000000;
}
@media screen and (min-width: 768px) {
  .nav .menu-button {
    display: none;
  }
  .nav .nav-inside {
    flex-direction: column;
  }
  .nav .nav-inside .logo {
    margin-top: 32px;
  }
  .nav .nav-inside .logo img {
    width: 91px;
  }
  .nav .nav-inside .menu {
    display: flex;
  }
  .nav .nav-inside .menu .element {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
}

.hero {
  background-color: var(--main-background);
}
.hero .hero-inside .heading {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero .hero-inside .heading .title {
  color: var(--main-text);
}
.hero .hero-inside .heading .scroll-button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  background-color: var(--alt-background);
  border-radius: 144px;
  margin-top: 25px;
  color: var(--alt-text);
}
.hero .hero-inside .heading .scroll-button img {
  margin-left: 7px;
}
.hero .hero-inside .me {
  display: flex;
  justify-content: space-between;
}
.hero .hero-inside .me .me-heading {
  color: var(--main-text);
}
.hero .hero-inside .me .email {
  color: var(--main-text);
}
.hero .hero-inside .about {
  color: var(--main-text);
}
@media screen and (min-width: 280px) {
  .hero .heading {
    flex-direction: column;
  }
  .hero .heading .title {
    font-weight: 650;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
  .hero .heading .scroll-button {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    padding: 8px;
  }
  .hero .me {
    margin-top: 20px;
  }
  .hero .me .talk .me-heading {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .hero .me .talk .email {
    margin-top: 9px;
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
  }
  .hero .me .about {
    width: 60%;
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 768px) {
  .hero .heading {
    margin-top: 50px;
    flex-direction: row;
    position: relative;
  }
  .hero .heading .title {
    font-weight: 650;
    font-size: 84px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .hero .heading .scroll-button {
    padding: 32px;
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .hero .me {
    margin-top: 52px;
  }
  .hero .me .talk .me-heading {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .hero .me .talk .email {
    margin-top: 9px;
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
  }
  .hero .me .about {
    width: 60%;
    font-weight: 550;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.02em;
    text-align: end;
  }
}
@media screen and (min-width: 1240px) {
  .hero .heading {
    margin-top: 50px;
    flex-direction: row;
  }
  .hero .heading .title {
    font-weight: 600;
    font-size: 227px;
    line-height: 90%;
    letter-spacing: -0.04em;
  }
  .hero .heading .scroll-button {
    padding: 32px;
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    position: absolute;
    right: -10px;
  }
  .hero .me {
    margin-top: 75px;
  }
  .hero .me .talk .me-heading {
    font-weight: 650;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .hero .me .talk .email {
    margin-top: 9px;
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .hero .me .about {
    width: 60%;
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
}

.projects {
  background-color: var(--main-background);
}
.projects .projects-inside {
  display: flex;
  flex-direction: column;
}
.projects .projects-inside .projects-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.projects .projects-inside .projects-heading .projects-title {
  color: var(--main-text);
}
.projects .projects-inside .projects-heading .more-button {
  background: transparent;
  display: flex;
  align-items: center;
  color: var(--main-text);
}
.projects .projects-inside .projects-heading .projects-description {
  color: var(--main-text);
}
.projects .projects-inside .projects-grid .projects-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: var(--main-text);
}
@media screen and (min-width: 280px) {
  .projects .projects-heading {
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 10px;
  }
  .projects .projects-heading .projects-title {
    font-weight: 650;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .projects .projects-heading .more-button {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    font-weight: 650;
    grid-row: 1/2;
    grid-column: 2/3;
    position: absolute;
    right: 0;
    top: 0;
  }
  .projects .projects-heading .more-button img {
    margin-left: 7px;
    transform: rotate(-90deg);
  }
  .projects .projects-heading .projects-description {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .projects .projects-grid {
    display: grid;
    grid-template-columns: 343px;
    grid-template-rows: 363px 343px 343px 343px;
    grid-row-gap: 48px;
    margin: 0 auto;
  }
  .projects .projects-grid .projects-card .card-title {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .projects .projects-grid .projects-card .card-description {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 768px) {
  .projects .projects-heading {
    grid-template-rows: 1fr 2fr;
  }
  .projects .projects-heading .projects-title {
    font-weight: 650;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.01em;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .projects .projects-heading .more-button {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 650;
    grid-row: 2/3;
    grid-column: 2/3;
    right: 0;
    bottom: 0;
  }
  .projects .projects-heading .more-button img {
    margin-left: 7px;
    transform: rotate(-90deg);
  }
  .projects .projects-heading .projects-description {
    font-weight: 550;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.02em;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .projects .projects-grid {
    display: grid;
    grid-template-columns: 328px 328px;
    grid-template-rows: 354px 354px;
    grid-row-gap: 48px;
    grid-column-gap: 32px;
    margin-top: 50px;
  }
  .projects .projects-grid .projects-card .card-title {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .projects .projects-grid .projects-card .card-description {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1240px) {
  .projects {
    margin-top: 150px;
  }
  .projects .projects-heading {
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 10px;
  }
  .projects .projects-heading .projects-title {
    font-weight: 650;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .projects .projects-heading .more-button {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    grid-column: 2/3;
    grid-row: 2/3;
    position: absolute;
  }
  .projects .projects-heading .projects-description {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .projects .projects-grid {
    display: grid;
    grid-template-columns: 592px 592px;
    grid-template-rows: 586px 586px;
    grid-row-gap: 48px;
    grid-column-gap: 32px;
  }
  .projects .projects-grid .projects-card .card-title {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .projects .projects-grid .projects-card .card-description {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
}

.expertise {
  background-color: var(--main-background);
}
.expertise .expertise-inside .expertise-title {
  color: var(--main-text);
}
.expertise .expertise-inside .expertise-list {
  color: var(--main-text);
  display: grid;
  list-style: none;
  list-style-position: inside;
}
.expertise .expertise-inside .expertise-list .list-element .list-element-title {
  display: flex;
  align-items: center;
}
.expertise .expertise-inside .expertise-list .list-element .list-element-title .marker {
  height: 4px;
  width: 4px;
  margin: 8px;
  border-radius: 100%;
  background-color: #000000;
}
@media screen and (min-width: 280px) {
  .expertise .expertise-title {
    font-weight: 650;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .expertise .expertise-list {
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    margin-top: 14px;
  }
  .expertise .expertise-list .list-element .list-element-title {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .expertise .expertise-list .list-element .list-element-discription {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .expertise .expertise-title {
    font-weight: 650;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .expertise .expertise-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 32px;
    margin-top: 48px;
  }
  .expertise .expertise-list .list-element .list-element-title {
    font-weight: 650;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .expertise .expertise-list .list-element .list-element-discription {
    font-weight: 550;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.02em;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .expertise .expertise-title {
    font-weight: 650;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
  .expertise .expertise-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 84px;
    grid-column-gap: 300px;
    margin-top: 64px;
  }
  .expertise .expertise-list .list-element .list-element-title {
    font-weight: 650;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .expertise .expertise-list .list-element .list-element-discription {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-top: 24px;
  }
}

.design {
  background-color: var(--alt-background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.design .design-title {
  text-wrap: nowrap;
  text-align: center;
  color: var(--alt-text);
}

.testimonials {
  background-color: var(--main-background);
  color: var(--main-text);
}
.testimonials .testimonials-inside {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 280px) {
  .testimonials .testimonials-inside .testimonials-heading .testimonials-title {
    font-weight: 650;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin: 40px 0;
  }
  .testimonials .testimonials-inside .testimonials-heading .testimonials-description {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
  }
  .testimonials .testimonials-inside .author {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    font-weight: 700;
    margin-top: 15px;
  }
  .testimonials .testimonials-inside .author .author-title {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .testimonials .testimonials-inside {
    flex-direction: row;
    align-items: end;
  }
  .testimonials .testimonials-inside .testimonials-heading .testimonials-title {
    font-weight: 650;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
  .testimonials .testimonials-inside .testimonials-heading .testimonials-description {
    font-weight: 550;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    width: 75%;
  }
  .testimonials .testimonials-inside .author {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 700;
    margin-top: 15px;
    text-wrap: nowrap;
  }
  .testimonials .testimonials-inside .author .author-title {
    text-wrap: nowrap;
    font-weight: 550;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.02em;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .testimonials .testimonials-inside .testimonials-heading .testimonials-title {
    font-weight: 650;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.01em;
  }
  .testimonials .testimonials-inside .testimonials-heading .testimonials-description {
    font-weight: 650;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -0.01em;
    font-weight: 450;
    width: 85%;
  }
}

.contact {
  background-color: var(--main-background);
  width: 100%;
  color: var(--main-text);
}
.contact .contact-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-inside .email-button {
  color: var(--alt-text);
  background-color: var(--alt-background);
  text-align: center;
}
.contact .contact-inside .email-button img {
  transform: rotate(-135deg);
}
.contact .contact-inside .email-button:focus {
  border: 2px rgb(255, 255, 255) solid;
  outline: 2px rgb(0, 0, 0) solid;
}
@media screen and (min-width: 280px) {
  .contact .lets-talk {
    font-weight: 650;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin: 50px 0;
  }
  .contact .email-button {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    border-radius: 144px;
    width: 262px;
    height: 76px;
  }
}
@media screen and (min-width: 768px) {
  .contact .lets-talk {
    font-weight: 650;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.01em;
    margin: 120px 0 35px 0;
  }
  .contact .email-button {
    font-weight: 550;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    border-radius: 81px;
    width: 148px;
    height: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .contact .lets-talk {
    font-weight: 500;
    font-size: 140px;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin: 190px 0 70px 0;
  }
  .contact .email-button {
    font-weight: 650;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    border-radius: 144px;
    width: 262px;
    height: 92px;
  }
}

.footer-inside {
  background-color: var(--main-background);
  display: flex;
  justify-content: space-between;
}
.footer-inside .credits {
  margin-bottom: 40px;
  color: var(--main-text);
}
.footer-inside .socials {
  display: flex;
}
.footer-inside .socials .instagram, .footer-inside .socials .linkedin {
  margin-left: 40px;
}
.footer-inside .socials .instagram, .footer-inside .socials .linkedin, .footer-inside .socials .dribble {
  color: var(--main-text);
}

.container {
  padding: 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 280px) {
  .container {
    max-width: 450px;
  }
  .design {
    height: 100px;
  }
  .design .design-title {
    font-weight: 650;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
  .footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
  .design {
    height: 150px;
  }
  .design .design-title {
    font-weight: 650;
    font-size: 84px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .footer {
    flex-direction: row;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1219px;
  }
  .design {
    height: 250px;
  }
  .design .design-title {
    font-weight: 500;
    font-size: 140px;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .footer {
    flex-direction: row;
    margin-top: 150px;
  }
}
.hidden {
  opacity: 0;
  transition: opacity 0.7s, transform 0.5s ease-in-out;
  transform: translate(-50%, 0);
}

.show {
  opacity: 1;
  transform: translate(0, 0);
}

.svg-white {
  filter: brightness(0) invert(1);
}/*# sourceMappingURL=index.css.map */